.welcome{
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    text-align: center;

    font-size: 12vh;
    margin-top: 8vh;
}

.centre{
    text-align: center;
}

.button{
    background-color: white;
    color : #000000;
    border: black solid 1px;

    padding: 15px;
    margin-top: 1.5cm;
    font-size: 1cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#icon {
    text-align: right;
    font-size: 40px;
}

.btn{
    cursor: pointer;
}

.button-login
{
    background-color: black;
    color : #FFFFFF;

    padding-top: 0.6%;
    margin-top: 1.5cm;
    width:4cm;
    height: 1cm;
    font-size: 0.5cm;
}

.login{
    font-family: serif;
    font-style: bold;
    text-align: center;

    font-size: 15vh;
    margin-top: 4%;
}

#input{
    background-color: black;
    color: grey;
    width: 10cm;
    height: 1cm;
    font-size: 0.5cm;
    text-align: center;

    margin-top: 5%;
}

#google{
    font-size: 40px;

}

.button-createAccount{
    background-color: white;
    color : #000000;
    border: #FFFFFF;
    font-size: 2vh;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;

}

.createAccount{
    font-family: serif;
    font-style: bold;
    text-align: center;

    font-size: 10vh;
    margin-top: 3%;
}

.eventName{
    font-size: 7vh;
}

.event{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border: #999999 solid 0.1px;
}

.more{
    background-color: #000000;
    color: #FFFFFF;

    margin-left: 1cm;
    margin-right: 0.1cm;
    width: 3cm;
    height: 0.7cm;
}

.block{
    margin-top: 1cm;
}

.button-home{
    font-size: 40px;
}

#Description{
    background-color: black;
    color: grey;
    width: 10cm;
    height: 7cm;
    font-size: 0.5cm;
    text-align: center;

    margin-top: 3%;
}

.gap{
    margin-top: 2%;
    font-size: 0.5cm;
}

#date{
    background-color: black;
    color: grey;
    width: 10cm;
    height: 1cm;
    font-size: 0.5cm;
    text-align: center;

    margin-top: 1%;
}

#inputEvent{
    background-color: black;
    color: grey;
    width: 10cm;
    height: 1cm;
    font-size: 0.5cm;
    text-align: center;

    margin-top: 1%;
}

.button-create{
    background-color: black;
    color : #FFFFFF;

    padding-top: 0.6%;
    margin-top: 0.5cm;
    width:4cm;
    height: 1cm;
    font-size: 0.5cm;
}

.final{
    font-size: 5vh;
    margin-top: 1cm;
}

.button-link{
    background-color: black;
    color : #FFFFFF;

    padding: 0.6%;
    margin-top: 1cm;
    width:6cm;
    height: 2cm;
    font-size: 0.5cm;
}

.option{
    font-size: 40px;
}

#notification{
    font-size: 30px;
}