
p {
    font-family:'Noto Serif',serif;
}

h1 {
    font-family : 'Raleway', sans-serif;
}

h2 {
    font-family : 'Raleway', sans-serif;
}

h4 {
    font-family : 'Raleway', sans-serif;
    font-style: italic;
    text-decoration: underline;
    font-weight: normal;
}

pre {
    font-family: monospace;

}

a[href] {
    color : darkgreen ;
}

body{
    background-color: #DCF5F5;
    background-image: url("cross.png");

}

hr{
    border-color:#CFDFE4;
}

blockquote{
    font-family:'Raleway',sans-serif;
    color:dimgrey;
    line-height: 1.5;
    word-spacing: 0.2em;
    font-weight: normal;
    text-align: justify;
    text-justify: auto;
}

ul{
    list-style-type: none;
    display:block;
}

ol{
    display:block;
}

li a{
    display:block;
}

.bp {
    color:darkblue;
    background-color:pink;
}

.grey {
    color : grey;
}

.blue{
    color:blue;
}

.fancy{
    font-family:cursive;
}

.bf {
    color:blue;
    font-family:cursive;
}

.red-border {
    border-style: solid;
    border-color: red;

}

.red-outline {
    outline-style: solid;
    outline-color: red;

}

.overredborder {
    border:1px red solid;

}

.overblueborder {
    border: 1px solid blue;
}

.mergeredborder {
    border-style: solid solid none solid;
    border-color:red;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.icons{
    color: #BFCFD4;
    margin:auto;
    width: fit-content;
}

.mergeblueborder {
    border-style: solid;
    border-color:blue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.square {
    list-style-type:square;
}

.menu{
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:Darkgrey;
    font-color:white;
    overflow: hidden;
    text-align:center;

}

.li {
    float: left;
  }

li a{
    display: inline-block;
    color: white;

    padding: 14px 5px;
}

li a:hover{
background-color:lightgrey
}

 #content {

    border: 1px;
    border-style: solid;
    border-color:darkgrey;
    border-radius: 8px;
    background-color: white;

}
