
p {
    font-family :'serif';
}

h1 {
    font-family : 'sans-serif';
}

h2 {
    font-family : 'sans-serif';
}

pre {
    font-family: monospace;

}

a[href] {
    color : darkgreen ;
}

body{
    background-color: #DCF5F5;
    background-image: url("cross.png");
}

hr{
    border-color:#CFDFE4;
}

.bp {
    color:darkblue;
    background-color:pink;
}

.grey {
    color : grey;
}

.blue{
    color:blue;
}

.fancy{
    font-family:cursive;
}

.bf {
    color:blue;
    font-family:cursive;
}

.red-border {
    border-style: solid;
    border-color: red;

}

.red-outline {
    outline-style: solid;
    outline-color: red;

}

.overredborder {
    border: 1px solid red;

}

.overblueborder {
    border: 1px solid blue;
}

.mergeredborder {
    border-style: solid solid none solid;
    border-color:red;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.mergeblueborder {
    border-style: solid;
    border-color:blue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}



 #content {

    border: 1px;
    border-style: solid;
    border-color:darkgrey;
    border-radius: 8px;
    background-color: white;

}