p {
    font-family :'serif';
}

.bp {
    color:darkblue;
    background-color:pink;
}

a[href] {
    color : darkgreen ;
}

.grey {
    color : grey;
}

h2 {
    align: left;
    font-family:'Sans Serif';
}

pre {
    font-family: monospace;
    
}