
p {
    font-family :'serif';
}

.bp {
    color:darkblue;
    background-color:pink;
}

a[href] {
    color : darkgreen ;
}

.grey {
    color : grey;
}

h2 {
    font-family : 'sans-serif';
}

pre {
    font-family: monospace;

}