
p {
    font-family :'serif';
}

h1 {
    font-family : 'sans-serif';
}

h2 {
    font-family : 'sans-serif';
}

pre {
    font-family: monospace;

}

a[href] {
    color : darkgreen ;
}

.bp {
    color:darkblue;
    background-color:pink;
}

.grey {
    color : grey;
}

.blue{
    color:blue;
}

.fancy{
    font-family:cursive;
}

.bf {
    color:blue;
    font-family:cursive;
}

.bluebackground{
    background-color:DCF5F5;
    background-image: url("cross.png");
}

#content {
    background-color:white;
}