.welcome{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;

    font-size: 13vh;
    margin-top: 20vh;
    margin-bottom: 1vh;
}

.centre{
    text-align: center;
}

.g-signin2 {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1%;
    float:left;
    top: -10px;

}

.button{
    background-color: black;
    color : white;
    border: black solid 1px;

    padding: 22px;
    margin-top: 1.5cm;
    font-size: 20px;
    font-family: 'Inter', sans-serif;

}

#icon {
    text-align: right;
    font-size: 40px;
    background-color:white;
}

.fa {
    background-color:white;
}

.btn{
    cursor: pointer;
}

.signout{
    float:right;
    margin-top:0px;
}

.button-login
{
    background-color: black;
    color : #FFFFFF;

    padding-top: 0.6%;
    margin-top: 2cm;
    width:4cm;
    height: 1.1cm;
    font-size: 0.5cm;
    font-family: 'Inter', sans-serif;
}

.login{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;

    font-size: 12vh;
    margin-top: 8%;
    margin-bottom: 2%;
}

.input{
    background-color: black;
    color: grey;
    width: 10cm;
    height: 1cm;
    font-size: 0.5cm;
    text-align: center;

    margin-top: 3%;
}

#google{
    font-size: 40px;


}

.button-createAccount{
    background-color: white;
    color : #000000;
    border: #FFFFFF;
    font-size: 2vh;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;

}

.createAccount{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;

    font-size: 10vh;
    margin-top: 1%;

}

.eventName{
    font-size: 7vh;
}

.event{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border: #999999 solid 0.1px;
}

.more{
    background-color: #000000;
    color: #FFFFFF;

    margin-left: 1cm;
    margin-right: 0.1cm;
    width: 3cm;
    height: 0.7cm;
}

.block{
    margin-top: 1cm;
}

.button-home{
    font-size: 20px;

}

#Description{
    background-color: black;
    color: grey;
    width: 10cm;
    height: 7cm;
    font-size: 0.5cm;
    text-align: center;

    margin-top: 3%;
}

.gap{
    margin-top: 2%;
    font-size: 0.5cm;
}

#date{
    background-color: black;
    color: grey;
    width: 10cm;
    height: 1cm;
    font-size: 0.5cm;
    text-align: center;

    margin-top: 1%;
}

.inputEvent{
    background-color: black;
    color: grey;
    width: 10cm;
    height: 1cm;
    font-size: 0.5cm;
    text-align: center;

    margin-top: 1%;
}

.button-create{
    background-color: black;
    color : #FFFFFF;

    padding-top: 0.6%;
    margin-top: 0.5cm;
    width:4cm;
    height: 1cm;
    font-size: 0.5cm;
}

.final{
    font-size: 5vh;
    margin-top: 1cm;
}

.button-link{
    background-color: black;
    color : #FFFFFF;

    padding: 0.6%;
    margin-top: 1cm;
    width:6cm;
    height: 2cm;
    font-size: 0.5cm;
}

.button-email{
    background-color: black;
    color : #FFFFFF;
    font-size: 0.5cm;
}

.option{
    font-size: 30px;
}

.notification{
    font-size: 30px;
}

.login-admin{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;

    font-size: 9vh;
    margin-top: 8%;
    margin-bottom: 2%
}

.button-admin{
    background-color: black;
    color : white;
    border: black solid 1px;

    width: 10cm;
    padding: 22px;
    margin-top: 1.5cm;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

#search{
    background-color: black;
    color: grey;
    width: 10cm;
    height: 1cm;
    font-size: 0.5cm;
    text-align: center;

    margin-top: 1%;
}

.welcome-admin{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;

    font-size: 9vh;
    margin-top: 15vh;
    margin-bottom: 1vh;
}
.block-search{
    margin-top: 5%;
}
.icon-search{
    font-size:24px;
    margin-left:0.5cm;
}

.button-delete
{
    background-color: black;
    color : #FFFFFF;

    padding-top: 0.6%;
    margin-top: 0.5cm;
    width:6cm;
    height: 1.1cm;
    font-size: 0.5cm;
    font-family: 'Inter', sans-serif;
}

.password{
    background-color: black;
    color: grey;
    width: 10cm;
    height: 1cm;
    font-size: 0.5cm;
    text-align: center;

    margin-top: 3%;
}

.email
{
    background-color: black;
    color: grey;
    width: 10cm;
    height: 1cm;
    font-size: 0.5cm;
    text-align: center;
}